@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.body{
  background-image: url('https://ordinaryfaith.net/wp-content/uploads/2016/03/Gray-plain-website-background.jpg');
  background-repeat:repeat;
  background-size:2000px;
}


.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;

}
.info{
  display:inherit;
}
.ab{
  position: relative;
  z-index: 1;
  background: #fae4e4ce;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 55px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.ab h1{
  font-size: 230%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(8, 124, 124);
  font-style: italic;
}
.about{
  display:contents;
  font-family: "Titillium Web", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align:center;
  
  
}
.form {
  position: relative;
  z-index: 1;
  background: #f5f3f4;
  max-width: 360px;
  margin: 0 auto 80px;
  padding: 55px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  
}
.form input {
  font-family: FontAwesome, "Roboto", sans-serif;
  outline: 0;
  background: #f5f1f4;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
border-radius:10px;
  
}
.form a {
  font-family: "Titillium Web", sans-serif;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: .1em;
  outline: 0;
  background:#e4066d;
  width: 35%;
  border: 0;
border-radius:20px;
  margin: 0px 0px 8px;
  padding: 15px;
  color: #FFFFFF;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  transition: all 0.2s;
  display: inline-block;

}

.form h1{
  font-size:180%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(8, 124, 124);
  font-style: italic;
  text-align: center;
}
.ps h1{
  font-size: 230%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(8, 124, 124);
  font-style: italic;
}
.form a:hover,.form a:focus {
  background: #e4066d;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
}
.form a:active {
  transform: translateY(2px);
  box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.2);
}

.form .message {
  
  margin: 6px 6px;
  color: #808080;
  font-size: 11px;
  text-align: center;
  font-weight: bold;
  font-style: normal;

  

}
.form .message a {
  color: #0000;
  text-decoration: none;
  font-size: 13px;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
.btn {
   font-family: "Titillium Web", sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: .1em;
  outline: 0;
  background: #e4066d;
  width: 40%;
  height: 50%;
  border: 0;
border-radius:30px;
  margin: 0px 0px 8px;
  padding: 10px;
  color: #FFFFFF;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  transition: all 0.2s;
}
.save{
  background-color: gray;
  size: 10px;
}
.form button:hover,.form button:focus {
  background: #e4066d;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
}
.form button:active {
  transform: translateY(2px);
  box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.2);
}
.scrollup{

    padding: 20px;
    display:block;
    color: black;
    text-align:center;
    position: absolute;
    
    right: 10px;

}
.footer{
   display:inline-block;
   background:rgb(223, 220, 220);
   width:100%;
  font-family: "Titillium Web", sans-serif;
  font-size:25px;
  font-weight: bold;
   text-decoration: none;
   margin: 0 0 15px;
   padding: 10px;
   text-align: center;
  


  
}
.footer.a{
  display: inline block;
  word-spacing: 10px;
  text-align: center;

}
.fa-facebook-square {
  color: blue;
  background-color: #fff;
}
.fa-youtube-play
{
  font-size:48px;
  color:red;
}
.fa-instagram
{
 color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}
.fa-twitter{
  color:skyblue;
  background-color: #fff;
}
.pic{
  display: flex;
  position:center;
}
.ps{
  position: relative;
  z-index: 1;
  background: #f5f3f4;
  max-width:360px;
  margin: 0 auto 100px;
  padding:55px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  flex: 1;
  
}




body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;    
}
